.header {
  padding: 1em 2em;
  display: flex;
  flex-direction: row-reverse;
}

.switch-btn {
  background: #151515;
  color: #fdfdfd;
  padding: 0.6em 2em;
  outline: none;
  box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

/* dark mode */

.theme-dark .switch-btn {
  background: #fdfdfd;
  color: #151515;
}
